#custom-container {
  background-color: rgba(17, 17, 18, 0.499);
  box-shadow: 0 5px 8px rgba(2, 109, 189, 0.899);
  padding: 5vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.color-mod {
  color: snow;
}
