body {
  margin: 0;
  font-family: 'Pangolin', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./images/bluelake.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* W3Schools Scrollbar Mod */

/* width */
::-webkit-scrollbar {
  background: slategrey;
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 10px 16px rgba(11, 12, 12, 0.899);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 10px;
}
